<textarea id="ping" style="float: left"></textarea>
<br>
<textarea id="log" rows="25" cols="30"></textarea>

<hr />
<br>

<textarea id="chat" rows="25" cols="30"></textarea>
<form id="my-form">
  <input type="text" name="message" id="message" value="Some message text" />
  <button type="submit">Send</button>
</form>
